*{
    box-sizing: border-box;
}

body{
    font-size: 24px;
    line-height: 32px;
    color: #333;
}

p{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
}

#fixed{
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 40px;
}

.container{
    width: 60%;
    padding: 20px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
    padding: 3px;
}

#relative{
    position: relative;
    background-color: #eee;
    height: 200px;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}

#main{
    display: block;
}

#absolute{
    position: absolute;
    background-color:#999;
    text-align: center;
    width: 250px;
    right: 0;
    padding: 20px;
}
